@tailwind base;
@tailwind components;
@tailwind utilities;


/* Styling for the scroll-to-top button */
#scrollToTop {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #0A84FF; /* Cyan Blue */
    color: #FAF9F6; /* Off-White */
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover effect */
  #scrollToTop:hover {
    background-color: #e68e37; /* Golden Yellow */
    color: #4B4B4B; /* Charcoal Gray */
    transform: scale(1.1); /* Slightly enlarge the button */
  }